.monthlyExpense {
  width: 100%;
  height: 100%;

  display: flex;
}

.sidebar {
  min-width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: #292929;

  padding: 2rem;
}

h2 {
  width: 100%;
  height: min-content;
  font-size: 2.25rem;
  text-align: center;
}

.monthlyTransactions {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & h2 {
    width: 100%;
    height: min-content;
    font-size: 2.25rem;
    text-align: start;
  }
}

.transactions {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;

  overflow: auto;
}
