.category {
  height: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  & h3 {
    font-size: 2rem;
    align-self: flex-start;
  }
}

.categoryItem {
  width: 100%;
  height: fit-content;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);

  align-items: center;

  font-size: 1.5rem;
  margin: 0.5rem;
}

.categoryItem > span {
  width: min-content;
  grid-column: 1;
  grid-row: 1 / span 2;

  font-size: 2.75rem;
}

.categoryItem > h4 {
  grid-column: 2 / span 7;
  grid-row: 1;

  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryProgressBar {
  grid-column: 2 / span 7;
  grid-row: 2;

  width: 100%;
  height: 1.2rem;
  border-radius: 10rem;

  background-color: #c4e2f4;

  & div {
    height: 100%;
    background-color: #0077c7;
    border-radius: inherit;
  }
}
