.formContainer {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & h2 {
    width: 100%;
    height: min-content;
    font-size: 2.25rem;
    text-align: start;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & label {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.inputbox {
  width: auto;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #292929;

  & span {
    font-size: 2rem;
    font-weight: 700;
  }

  & input {
    flex: 1;
    font-size: 1.75rem;
    font-weight: 500;
    border-radius: 1rem;
    height: 3rem;

    /* padding: 0rem 1rem; */

    background-color: transparent;
    border: none;
    outline: none;
  }
}

.categories {
  display: flex;
  gap: 1.5rem;
}

.categoryBtn {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 1rem;
  outline: none;
  border: 1px solid #3c3c3c;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background-color: #292929;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background-color: #3c3c3c;
  }
}

.activeCategory {
  background-color: #444444;
  border: 1px solid #575757;
}

.saveExpense {
  padding: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  outline: none;

  border-radius: 1rem;
  border: 1px solid #3c3c3c;
  background-color: #292929;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background-color: #3c3c3c;
  }
}
