.transaction {
  width: 100%;
  min-height: 5rem;
  border-radius: 1rem;
  background-color: #300000;
  padding: 0.75rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.transactionLogo {
  font-size: 2rem;
}

.transactionName {
  font-size: 1.5rem;
  flex: 1;
  font-weight: 900;
  color: antiquewhite;
  display: flex;
  flex-direction: column;

  & span {
    font-size: 1rem;
    font-weight: 300;
  }
}

.transactionAmount {
  font-size: 2rem;
  font-weight: 900;
  color: antiquewhite;
}
