:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 50em) {
    font-size: 55%;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 42%;
  }
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 500;
  line-height: 1.6;

  margin: 0;
  width: 100%;
  max-height: 100vh;
}

main {
  /* max-width: 7.2rem; */
  /* min-width: 4.8rem; */
  margin: auto;
  display: flex;
  max-width: 75%;
  height: auto;
  /* padding: 2rem; */
  flex-direction: column;

  height: calc(100vh - 5rem);
}

nav {
  width: 100%;
  height: 5rem;

  border-bottom: 2px solid #3c3c3c;

  & ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
  }

  & li {
    list-style: none;
  }
}

nav a:link,
nav a:visited {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* CSS Modules feature */
a.active {
  background-color: #26a2f4;
}
